body{
	padding:20px 50px;
}
a {
	color:#333;
	transition: .25s;
}
a:hover{
	color:#5096ff;
	text-decoration: none;
}
.table th{
	vertical-align: middle!important;
}
.table,.table th, .table td{
	border:1px solid #ddd;
}
.table td:not(:nth-child(2)) {
	text-align: center;
}

.avatar {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 1em;
}